name: CI

on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * 1'  # Every Monday at 7am UTC
  push:
    branches:
      - main
      - '*.x'
    tags:
      - '*'
  pull_request:

# Only cancel in-progress jobs or runs for the current workflow
#   This cancels the already triggered workflows for a specific PR without canceling
#   other instances of this workflow (other PRs, scheduled triggers, etc) when something
#   within that PR re-triggers this CI
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  core:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    with:
      submodules: false
      # Any env name which does not start with `pyXY` will use this Python version.
      default_python: '3.10'
      envs: |
        - linux: coverage
          name: Python 3.14 coverage
          python-version: 3.14
        - linux: coverage
          name: Python 3.13 coverage
          python-version: 3.13
        - linux: coverage
          name: Python 3.12 coverage
          python-version: 3.12
        - linux: coverage
          name: Python 3.11 coverage
          python-version: 3.11
        - linux: coverage
          name: Python 3.10 coverage
          python-version: 3.10
      # TODO uncomment after adding to codecov
      # coverage: codecov

  test:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    with:
      submodules: false
      # Any env name which does not start with `pyXY` will use this Python version.
      default_python: '3.13'
      envs: |
        - macos: py313-parallel
        - windows: py313-parallel

  dev:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    with:
      submodules: false
      # Any env name which does not start with `pyXY` will use this Python version.
      default_python: '3.11'
      envs: |
        - linux: py310-devdeps-parallel
        - linux: py311-devdeps-parallel
        - linux: py312-devdeps-parallel
        - linux: py313-devdeps-parallel
        - linux: py314-devdeps-parallel

  package:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@v2
    with:
      python-version: "3.11"
      upload_to_pypi: false
      upload_to_anaconda: false
      test_extras: all,tests
      test_command: pytest --pyargs asdf_compression
